<div style="background-color: grey;">
    <h2>Opciones</h2>
    
        <ng-container *ngIf="idEndpoint == 'prueba-ruster'">
            <form [formGroup]="formGroup">
                <mat-form-field class="example-full-width" appearance="fill" style="background-color: white;">
                    <mat-label>un input ruster</mat-label>
                    <input matInput placeholder="un ejemplo" value="ejemplo" formControlName="campoPrueba">
                </mat-form-field> 
                <mat-form-field class="example-full-width" appearance="fill" style="background-color: white;">
                    <mat-label>un input </mat-label>
                    <input matInput placeholder="un ejemplo" value="ejemplo" formControlName="otroCampoPrueba">
                </mat-form-field> 
                <button mat-stroked-button (click)="onSubmit()" style="background-color: aliceblue;">Basic</button>
            </form>
        </ng-container>
        <ng-container *ngIf="idEndpoint == 'prueba-geojson'">
            <form [formGroup]="formGroup" class="container">
                <p>Seleccione la fecha de referencia para calcular días sin lluvia. Haga click sobre la misma para desplegar el calendario</p>
                <mat-form-field class="" appearance="fill" style="">
                    <mat-label>Fecha de Referencia</mat-label>
                    <input type="date" formControlName="fecha" matInput placeholder="un ejemplo" value="">
                </mat-form-field> 
                <p>Indique el monto mínimo de precipitación diaria para que un día se considere lluvioso</p>
                <mat-form-field appearance="fill">
                    <mat-select formControlName="cantidadPrecipitaciones">
                    <mat-option [value]="0">Más de 0.1 mm</mat-option>
                    <mat-option [value]="1">Más de 1 mm</mat-option>
                    <mat-option [value]="3">Más de 3 mm</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-stroked-button (click)="onSubmit()" style="background-color: aliceblue;">Visualizar</button>
            </form>
        </ng-container>

    <br>
    
</div>
<app-map [data]="valoresFormGroup"></app-map>
