<div style="background-color: grey;">
    <h2>Opciones</h2>
    <form [formGroup]="formGroup">
        <ng-container *ngIf="idEndpoint == 'prueba-ruster'">
            <mat-form-field class="example-full-width" appearance="fill" style="background-color: white;">
                <mat-label>un input</mat-label>
                <input matInput placeholder="un ejemplo" value="ejemplo">
            </mat-form-field> 
            <mat-form-field class="example-full-width" appearance="fill" style="background-color: white;">
                <mat-label>un input</mat-label>
                <input matInput placeholder="un ejemplo" value="ejemplo">
            </mat-form-field> 
            <button mat-button (click)="onSubmit()">Basic</button>
        </ng-container>
        <ng-container *ngIf="idEndpoint == 'prueba-geojson'">
            <mat-form-field class="example-full-width" appearance="fill" style="background-color: white;">
                <mat-label>un input</mat-label>
                <input matInput placeholder="un ejemplo" value="ejemplo">
            </mat-form-field> 
            <mat-form-field class="example-full-width" appearance="fill" style="background-color: white;">
                <mat-label>un input</mat-label>
                <input matInput placeholder="un ejemplo" value="ejemplo">
            </mat-form-field> 
            <button mat-button (click)="onSubmit()">Basic</button>
        </ng-container>

    </form>
    <br>
    
</div>
<app-map></app-map>