<ng-container *ngIf="ultimo!=0">

    <mat-toolbar style="padding: 0;">
        <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">¿Hace cuánto que no llueve?</mat-button-toggle>
            <mat-button-toggle value="italic">¿Qué estaciones están en sequía?</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group> -->
        <div mat-button-toggle-group style="display:flex;flex-wrap:wrap;background-color: #f5f5f5; padding:5px">
            <ng-container *ngFor="let item of listaSolapas; let i=index">

                <a href="item.url" mat-raised-button [class]="item.clasesCss" style="margin-top: 5px; margin-bottom: 5px;">{{item.nombre}}</a>

            </ng-container>
            
            <!-- <a href="http://" mat-raised-button style="border-radius: 15px 0 0 15px ;">algo</a>
            <a href="http://" mat-raised-button style="border-radius: 0 0 0 0 ;">algo</a>
            <a href="http://" mat-raised-button style="border-radius: 0 15px 15px 0;">algo</a> -->
        </div>
    </mat-toolbar>
</ng-container>
<app-opciones></app-opciones>
