/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;padding: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.info{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 0.5rem;
}